# Editable install with no version control (accelerate==0.31.0.dev0)
-e /AII-guozitong/dependence/accelerate_mlu
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.6.0
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
Babel==2.14.0
beautifulsoup4==4.12.3
bleach==6.1.0
cachetools==5.3.3
cambricon-dali @ file:///torch/cambricon_dali-0.9.0-py3-none-manylinux2014_x86_64.whl#sha256=68ca5fdc6ba30e162c01c0556ae45beb9761c566388ab2cb14183b017561dcae
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.1
contourpy==1.2.1
cycler==0.12.1
datasets==2.19.1
debugpy==1.8.1
decorator==5.1.1
deepspeed @ file:///torch/deepspeed_mlu-0.10.1-py3-none-any.whl#sha256=40220e4c4cc2ac339a795f14c961f163a288eef213059a671bdc604885fb0cdb
deepspeed-mlu @ file:///torch/deepspeed_mlu-0.10.1-py3-none-any.whl#sha256=40220e4c4cc2ac339a795f14c961f163a288eef213059a671bdc604885fb0cdb
defusedxml==0.7.1
dill==0.3.8
DLLogger==0.1.0
dnspython==2.6.1
docstring_parser==0.16
einops==0.7.0
email_validator==2.1.1
exceptiongroup==1.2.0
executing==2.0.1
expecttest==0.2.1
fastapi==0.111.0
fastapi-cli==0.0.3
fastjsonschema==2.19.1
ffmpy==0.3.2
filelock==3.13.1
flash-attn @ file:///torch/flash_attn-2.3.3%2Bmlu0.4.0.pt2.1-cp310-cp310-linux_x86_64.whl#sha256=1e5f694c3814cafae1e8d6c466d7472cf8bf448ad44ffac2a93e24246bb93de3
fonttools==4.51.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.2.0
gradio==3.50.2
gradio_client==0.6.1
h11==0.14.0
hjson==3.1.0
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.0
hypothesis==6.99.2
idna==3.6
importlib_resources==6.4.0
ipykernel==6.29.3
ipython==8.22.2
ipywidgets==8.1.2
isoduration==20.11.0
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.3
joblib==1.4.2
json5==0.9.22
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.4
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.13.0
jupyter_server_terminals==0.5.2
jupyterlab==4.2.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
nbclient==0.9.0
nbconvert==7.16.2
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
ninja==1.11.1.1
nltk==3.8.1
notebook==7.2.0
notebook_shim==0.2.4
numpy==1.26.4
orjson==3.10.3
overrides==7.7.0
packaging==24.0
pandas==2.2.1
pandocfilters==1.5.1
parso==0.8.3
# Editable install with no version control (peft==0.11.2.dev0)
-e /AII-guozitong/dependence/peft_mlu
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.2.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==5.26.1
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==16.0.0
pyarrow-hotfix==0.6
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
pydub==0.25.1
Pygments==2.17.2
PyJWT==2.8.0
pynvml==11.5.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.2
QtPy==2.4.1
referencing==0.33.0
regex==2024.4.28
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rouge==1.0.1
rouge-chinese==1.0.3
rpds-py==0.18.0
ruff==0.4.3
safetensors==0.4.3
scikit-learn==1.4.2
scipy==1.12.0
semantic-version==2.10.0
Send2Trash==1.8.2
sentencepiece==0.2.0
shellingham==1.5.4
shtab==1.7.1
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
sse-starlette==2.1.0
stack-data==0.6.3
starlette==0.37.2
sympy==1.12
terminado==0.18.0
threadpoolctl==3.5.0
tinycss2==1.2.1
tokenizers==0.15.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch @ file:///torch/wheel_py310/torch-2.1.0-cp310-cp310-linux_x86_64.whl#sha256=cace05781d03ba7b96fa2abba32e28623006cf5054281191f9cc9c6dee52b45a
torch-mlu @ file:///torch/wheel_py310/torch_mlu-1.19.0%2Btorch2.1.0-cp310-cp310-linux_x86_64.whl#sha256=4eaf0323a3c2b2798eeaf5443957050497217069261200f2c9d6515ae439f75a
torchdump @ file:///torch/torchdump-0.3.0-py3-none-any.whl#sha256=fd922570b3367c9e71cccdec4d19b36f5cd38dcace6744a37d3d898a0e9a9e9f
torchvision @ file:///torch/wheel_py310/torchvision-0.16.0%2Bfbb4cc5-cp310-cp310-linux_x86_64.whl#sha256=6799c032e35972b40661f886805713e54b248e83118454f5447b72fe675f6e7e
tornado==6.4
tqdm==4.66.2
traitlets==5.14.1
# Editable install with no version control (transformers==4.39.0)
-e /AII-guozitong/dependence/transformers_mlu
trl==0.8.6
typer==0.12.3
types-dataclasses==0.6.6
types-python-dateutil==2.8.19.20240106
typing_extensions==4.10.0
tyro==0.8.4
tzdata==2024.1
ujson==5.9.0
uri-template==1.3.0
urllib3==2.2.1
uvicorn==0.29.0
uvloop==0.19.0
watchfiles==0.21.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==11.0.3
widgetsnbextension==4.0.10
xxhash==3.4.1
yarl==1.9.4
zhipuai==2.1.0
